@import "colors.css";
* {
    font-family: Fira Code, JetBrainsMono Nerd Font Propo, FontAwecome;
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    font-size: 18px;
    padding: 0 5px;
    background-color: transparent;
    color: @secondary;
    text-shadow: 2px 2px 4px rgba(208, 223, 25, 0.8)
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#custom-power,
#temperature,
#network,
#pulseaudio,
#tray,
#power-profiles-daemon {
    padding: 0 10px;
    color: #ffffff;
    margin: 0 4px;
    border-radius: 4px; 
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    font-size: 24px;
    background-color: @transparent;
    color: @secondary;
    text-shadow: 2px 2px 4px rgba(208, 223, 25, 0.8);
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

#custom-power {
    background-color: @primary;
    color: #000000;
}

#network {
    background-color: @primary;
    color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: @primary;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature {
    background-color: @primary;
    color: #000000;
}

#temperature.critical {
    background-color: #eb4d4b;
}

